<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card educationcard1">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2018</p>
              <div class="h5 field-of-study">Computer Science & Philosophy</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <!-- <div class="h5">Software Engineering/Philosophy</div> -->
               <h4 class="category unc">University of Northern Colorado</h4>
               <ul>
                <!-- <li>3.7/4.0 GPA</li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card educationcard2">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2016</p>
              <div class="h5 field-of-study">Applied Science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <!-- <div class="h5">Associate in Applied Science</div> -->
               <h4 class="category">Moraine Valley Community College</h4>
               <ul>
                <!-- <li>3.5/4.0 GPA</li> -->
                <!-- <li><b>Dean's List</b> - Fall/Spring 2015 </li>
                <li>President of Meditation Club</li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card cert">
        <div class="row">
          <div class="col-md-3 bg-darkgreen" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p> Expecting 10/02/2020 </p>
              <div class="h5"> Certificate </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <!-- <div class="h5"> Type </div> -->
               <h4 class="category h4cert"> Oracle Certified Associate - Java SE 8 Programmer I </h4>
               <ul>
                <!-- <li></li>
                <li></li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>