<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2016</p>
              <div class="h5">Associate Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Associate in Applied Science</div>
               <h4 class="category">Moraine Valley Community College
               </h4>
               <ul>
                <li> Completed AAS degree with a <b>3.5/4.0 GPA</b></li>
                <li><b>Dean's List</b> - Fall/Spring 2015 </li>
                 <li>President of Meditation Club</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2019</p>
              <div class="h5">Undergraduate</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Software Engineering/Philosophy</div>
               <h4 class="category">University of Northern Colorado </h4>
               <ul>
                <li>Took classes in topics including Software Engineering/Philosophy/Mathematics. </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p> date here </p>
              <div class="h5"> Type </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Type </div>
               <h4 class="category"> inserting cert here </h4>
               <ul>
                <li></li>
                <li></li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>