<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/mememarket.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">MM - Meme Market</h4>
          <h5><font size="3">MM allows users to view, collect, and trade various trading cards that are modeled after popular memes. Users can collect cards by using in-game currency to open packs or trading with other users. Staff have ability to create cards which are added to the collection of cards. Each card is unique with its own image, description, and rarity. </font>
          </h5>
          <h5 class="card-text"><b>Technologies:</b> Angular8, Java, Hibernate, Spring, SQL, TypeScript, Maven, AWS, Docker, Git</h5>
            <!-- <h5 class="card-text"><a href="Link">Live Demo Here</a></h5> -->
           
            <!-- <a href="" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/AlexKami0115/meme-market" class="btn btn-primary stretched-link">Github Link</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/rideforce.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">RideForce</h4>
          <h5 class="card-text"><font size="3"> RideForce is a ride coordinating application for Revature Associates. A user who wants to offer rides can register a car with their account. Any associates who need a ride can coordinate with drivers who have registered cars based on proximity and preference.</font>
          </h5>
           <h5 class="card-text"><b>Technologies:</b> Microservices, Angular8, Spring, DevOps, Java, Maven, PL/SQL, Jasmine, TypeScript, AWS, Git, Google Maps API</h5>
    
            <!-- <h5 class="card-text"><a href="">Live Demo Here</a></h5> -->
    
            <!-- <a href="" class="btn btn-primary  stretched-link ml-2 mr-5 ">Project Slides here</a> -->
          <a href="" title="Not available - Licensed by Revature. Proprietary Code" class="btn btn-primary stretched-link">Github Link</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/flappybox.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">FlappyBox</h4>
          <h5 class="card-text"><font size="3"> Recreation of the once popular game "Flappy Bird". Objective of the game is to make the box go between 2 pillars as many times as possible. Mouse click causes the box to jump. Score is displayed on top of screen. </font>
          </h5>
          <h5 class="card-text"><b>Technologies:</b> Java, JPanel, JFrame</h5>
            <!-- <h5 class="card-text"><a href="">Link to live demo</a></h5> -->
            <!-- <a href="" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/AlexKami0115/FlappyBox" class="btn btn-primary stretched-link">Github Link</a>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/cardealership.PNG" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Auto Dealership</h4>
        <h5 class="card-text"><font size="3"> The Car Dealership app is a Java console-based application that facilitates the purchasing of cars. An employee can add cars to the lot and manage offers for those cars, while a customer can view the cars on the lot and make offers. All data is stored in an OracleSQL relational database. </font>
        </h5>
        <h5 class="card-text"><b>Technologies:</b> Java, Maven, SQL, AWS</h5>
          <!-- <h5 class="card-text"><a href="">Link to live demo</a></h5> -->
          <!-- <a href="" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
        <a href="https://github.com/AlexKami0115/CarDealership" class="btn btn-primary stretched-link">Github Link</a>
      </div>
    </div>
  </div>
  </div>
    </div>
    </div>
  </div>