<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/test.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">MCG - Meme Card Game</h4>
          <h5 class="card-text"><b>Technologies:</b> Angular8, Java, Hibernate, Spring, SQL, TypeScript, Maven, AWS, Git</h5>
            <!-- <h5 class="card-text"><a href="Link">Live Demo Here</a></h5> -->
           
            <!-- <a href="" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/AlexKami0115/meme-market" class="btn btn-primary stretched-link">Github Link</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/test.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">RideForce</h4>
           <h5 class="card-text"><b>Technology :</b> Microservices, Angular, Spring, DevOps, Agile, Java, Maven, Amazon Web Services, Git</h5>
    
            <!-- <h5 class="card-text"><a href="">Live Demo Here</a></h5> -->
    
            <!-- <a href="" class="btn btn-primary  stretched-link ml-2 mr-5 ">Project Slides here</a> -->
          <a href="" title="Not available - Licensed by Revature. Proprietary Code" class="btn btn-primary stretched-link">Github Link</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/test.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">FlappyBox</h4>
          <h5 class="card-text"><b>Technology :</b> Java, JPanel</h5>
            <!-- <h5 class="card-text"><a href="">Link to live demo</a></h5> -->
            <!-- <a href="" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/AlexKami0115/FlappyBox" class="btn btn-primary stretched-link">Github Link</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>